/* body{
	background-color:#F5F5F5;
	font-family: "Poppins", sans-serif;
	
}
.head{	
	padding:15px 30px 10px 15px;
}
.main-content{
	background-color:#51E8CC;
	margin-left:auto;
	margin-right:auto;
}
.head .name_title{
	display:flex;
	justify-content:center;
	flex-direction:column;
	color:white;
	align-items:center;
	gap:10px;
	margin-left:450px;
}
.head .name_title .name, .head .name_title .title{
	text-shadow: 29px 13px 5px rgba(20,41,94,0.86);
	text-transform:uppercase;

}
.head .main-content{
	display:flex;
	justify-content:left;
	box-shadow: 5px -6px 9px 4px rgba(0,0,0,0.31);
	border-radius: 32px;
	max-width:2500px;
}
.head .main-content:hover{
	box-shadow: 8px 4px 13px 10px rgba(0,0,0,0.66);
}	
.head .main-content .logo_tvu img{
	width:50px;
	margin-top:20px;
	margin-left:20px;
	
}
.Thong_tin_chung .main-content{
	box-shadow: 5px -6px 9px 4px rgba(0,0,0,0.31);
	border-radius: 32px;
}
.avatar_info{
	display:flex;
	justify-content:center;
	align-items:center;
	padding:20px;
	gap:50px;
}
.avatar_info .avatar img{
	border-radius:20px;
	
}
#gioiThieuBanThan{
	display:flex;
	justify-content:center;
	align-items:top;
	padding-bottom:15px;
	font-weight:bolder;
	font-size:25px;
	color:white;
	text-shadow: 3px 5px 5px rgba(20,41,94,0.86);
	text-transform: uppercase;
}
#DoanGioiThieu{
	line-height:30px;
	background-color:#E0FFFD;
	border-radius:5px;
	
	box-shadow: 5px 2px 24px 13px rgba(0,0,0,0.32);
}
	 */

/*========================================chung========================================================*/
* {
  box-sizing: border-box;
}
body {
  background-color: #fffcf4;
  font-family: "Poppins", sans-serif;
}
.main-content {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 48px);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

/*==================================================================================================*/

/* =======================================head============================== */
.head {
  height: 36vh;
  margin-bottom: 33px;
  position: sticky;
  top: -145px;
  z-index: 1;
}
.head .main-content {
  background: #fffcf4;
}
.head_head {
  background: #fffcf4;
  display: flex;
  height: 120px;
  justify-content: space-between;
}
.head_head .logo_ten_truong {
  width: 10%;
  margin-top: 20px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
}
.head_head .logo_ten_truong .TVU_name {
  text-align: center;
  font-weight: 700;
  font-size: 0.87rem;
}
.head_head .logo_ten_truong a {
  width: 50%;
}
.logo_tvu {
  width: 100%;
}
.head_head .menu {
  margin-right: 30px;
}
.head_head .menu .nav .option {
  display: flex;
}
.head_head .option li {
  margin-left: 20px;
  font-size: 1.25rem;
  cursor: pointer;
}
.head_head .option li a {
  color: black;
  font-weight: 600;
}
.head_head .option li:hover {
  opacity: 67%;
  text-decoration: underline;
}
.body_head {
  text-align: center;
  padding-bottom: 10px;
}
.body_head .ten_title {
  margin-bottom: 20px;
}
.body_head .ten_title p {
  font-size: 2rem;
  font-weight: 700;
}
/* ========================================THONG TIN CHUNG========================================== */

.thongTinChung .intro {
  background: #fffcf4;
  border: 1px solid rgb(163, 134, 27);
}
.thongTinChung .main-content .intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.intro .desc {
  line-height: 24.5px;
  font-size: 1rem;
}
.intro .avatar .fig_avt .fig_cap {
  text-align: center;
  font-style: italic;
  opacity: 67%;
}
.intro .fig_avt .avt_img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
