table, td, th, tr{
    border: 1px solid black;
    text-align: center;
    border-collapse: collapse;
}
th,td{
    padding: 5px;
}
.hoaDon{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.container{
    display: flex;
    justify-content: center;
}